<main id="catalog">
    <section class="game-market">
        <h1>Game Trade Code</h1>
        <div class="offer-list">

            {{#each games}}

            {{> gamePreview}}
            {{else}}
            <div class="no-offer">
                <p>There are no game offers found!</p>
            </div>

        </div>



        {{/each}}
    </section>
    <footer>
        <p>Back-End 2023</p>
    </footer>
</main>