<main id="login">
    <div class="login-box">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label>Email</label>
            <input type="text" name="username" placeholder="Email..">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password..">
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="#">Register here</a></p>
    </div>
    <footer>
        <p>Back-End 2023</p>
    </footer>
</main>